<!-- The navigation should be moved to a header component -->
<nav class="navbar">
  <div class="container navbar-container d-flex justify-content-between align-items-center p-3">
    <a routerLink="/" class="navbar-brand">
      <h1>Movie Management</h1>
    </a>
    <ul class="navbar-nav d-flex m-0">
      <li *ngFor="let route of routes; let i = index" class="nav-item">
        <a [routerLink]="route.url" routerLinkActive="active" class="nav-link">{{ route.linkName }}</a>
      </li>
    </ul>
    
  </div>
</nav>


<!-- Main Content -->
<main class="main-content">
  <div class="container">
    <!-- <h3>{{ welcomeMessage }}</h3>
    <p>{{ statusMessage}}</p> -->
    <router-outlet></router-outlet>
  </div>
</main>

<!-- This should be moved to a footer component -->
<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <p>&copy; {{currentYear}} Movie Management System</p>
      <p>Student: <span>Your Name</span> | ID: <span>12345</span></p>
      <a routerLink="/about" class="footer-link">About</a>
    </div>
  </div>
</footer>